In [1]:
import pandas as pd
df = pd.read_csv("2017-capitalbikeshare-tripdata/2017Q1-capitalbikeshare-tripdata.csv", sep=",", encoding="utf-8")

In [2]:
# Show first 5 rows
df.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual

In [3]:
# Number of rows and columns
df.shape
# same thing: (df.shape[0],df.shape[1])

(646510, 9)

In [4]:
len(df.index)

646510

In [5]:
# Column names
df.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [6]:
# Data types of each column
df.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [7]:
# Change data types
# float              float64
# int                  int64
# datetime    datetime64[ns]
# string              object


df = df.astype({'Start date': 'datetime64[ns]','End date': 'datetime64[ns]'}) 
df.dtypes

Duration                         int64
Start date              datetime64[ns]
End date                datetime64[ns]
Start station number             int64
Start station                   object
End station number               int64
End station                     object
Bike number                     object
Member type                     object
dtype: object

In [8]:
# Numerica statistical description of each column
df.describe()

            Duration  Start station number  End station number
count  646510.000000         646510.000000       646510.000000
mean     1010.444949          31317.411972        31320.159818
std      2087.021859            218.034279          216.394175
min        60.000000          31000.000000        31000.000000
25%       373.000000          31202.000000        31207.000000
50%       626.000000          31251.000000        31250.000000
75%      1064.000000          31505.000000        31505.000000
max     86066.000000          32223.000000        32223.000000

In [9]:
# See amount of missing data
df.isnull().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

In [10]:
# Table of frequency counts for items in a column
df['Member type'].value_counts()

Member    528434
Casual    118076
Name: Member type, dtype: int64

In [11]:
df_subset = df[(df["Duration"] > 1000)]
df_subset = df[(df.Duration > 1000)]
df_subset.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
5,1603,2017-01-01 00:08:11,2017-01-01 00:34:55,31258,Lincoln Memorial,31270,8th & D St NW,W20890,Casual

In [12]:
# select a subset of dataframe
df_subset = df[['Duration', 'Start date', 'End date']]
df_subset = df[(df.Duration > 1000)|(df["Member type"] == "Casual")&(df["Start station"] == "Lincoln Memorial")] 
# | = or, & = and

df_subset.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
5,1603,2017-01-01 00:08:11,2017-01-01 00:34:55,31258,Lincoln Memorial,31270,8th & D St NW,W20890,Casual

In [13]:
# manually select by indices
df_subset = df.iloc[0:100, :]
x1_list = df.iloc[0:100, 1].values

In [14]:
# add a column
df['Duration2'] = df['Duration']/3600
#df['new_col] = df[['x1']].apply(my_function)
#df['new_col'] = df['x1'].map(my_dict)

In [15]:
# drop a column
df = df.drop(['Bike number'], axis=1)

# drop a row
index_name = 4
df.drop(index_name)

In [16]:
# convert column to datetime
df['date'] = pd.to_datetime(df['Start date'])
df.dtypes

Duration                         int64
Start date              datetime64[ns]
End date                datetime64[ns]
Start station number             int64
Start station                   object
End station number               int64
End station                     object
Member type                     object
Duration2                      float64
date                    datetime64[ns]
dtype: object

In [22]:
# Get dummy indicies for features (converts only string columns)
pd.get_dummies(df["Member type"])

        Casual  Member
0            0       1
1            1       0
2            1       0
3            1       0
4            1       0
...        ...     ...
646505       0       1
646506       0       1
646507       0       1
646508       0       1
646509       0       1

[646510 rows x 2 columns]

In [18]:
# Drop missing data
df.dropna() # drop rows i.e., registers
df.dropna(axis=1) # drop columns i.e., attributes
df.dropna(thresh=4) # drop if >= thresh
df.dropna(subset=['Member type']) # only drop for specified column

In [4]:
# Column to numpy array
df.loc[:,"Member type"].values
df["Member type"].values

array(['Member', 'Casual', 'Casual', ..., 'Member', 'Member', 'Member'],
      dtype=object)